@using Microsoft.AspNetCore.Mvc.Rendering;
@model TransactionViewModel;
@{
    var transactionType = "";
    if (@Model.TransactionType == ID.DEPOSIT)
        transactionType = nameof(TransactionController.Deposit);
    else if (@Model.TransactionType == ID.WITHDRAWAL)
        transactionType = nameof(TransactionController.Withdrawal);
    else //if (@Model.TransactionType == ID.TRANSFER)
        transactionType = nameof(TransactionController.Transfer);
    ViewData["Title"] = transactionType;
}

<h1 class="text-2xl mb-6">Confirm @transactionType for Account <span class="text-accent-focus">@Model.AccountNumber</span></h1>
<div class="p-10 grid grid-cols-1 gap-5 content-start">
    <div class="bg-base-200 p-10 rounded-md">
        @if (Model.TransactionType == ID.TRANSFER)
        {
            <form asp-action=@nameof(TransactionController.TransactionSubmit)
              asp-route-transactionType=@Model.TransactionType
              asp-route-accountNumber=@Model.AccountNumber
              asp-route-destinationAccountNumber=@Model.DestinationAccountNumber
              asp-route-amount=@Model.Amount
              asp-route-comment=@Model.Comment
              asp-route-transactionTimeUtc=@Model.TransactionTimeUtc>
                <div class="form-group mb-6 pl-5">
                    <label asp-for=@Model.Amount
                       class="block mb-2 text-sm font-medium text-base-content">
                        @Html.DisplayNameFor(x => x.Amount)
                    </label>
                    <div class="text-primary form-control input-bordered input-primary w-full max-w-xs">@Model.Amount</div>
                </div>
                <div class="form-group mb-6 pl-5">
                    <label asp-for=@Model.DestinationAccountNumber
                       class="block mb-2 text-sm font-medium text-base-content">
                        @Html.DisplayNameFor(x => x.DestinationAccountNumber)
                    </label>
                    <div class="text-primary form-control input-bordered input-primary w-full max-w-xs">@Model.DestinationAccountNumber</div>
                </div>
                <div class="form-group mb-6 pl-5">
                    <label asp-for=@Model.Comment
                       class="block mb-2 text-sm font-medium text-base-content">
                        @Html.DisplayNameFor(x => x.Comment)
                    </label>
                    <div class="text-primary form-control input-bordered input-primary w-full max-w-xs">@Model.Comment</div>
                </div>
                <div class="form-group mb-6 pl-5">
                    <input type="submit"
                       Value="Confirm"
                       class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <form asp-action=@nameof(TransactionController.TransactionSubmit)
              asp-route-transactionType=@Model.TransactionType
              asp-route-accountNumber=@Model.AccountNumber
              asp-route-amount=@Model.Amount
              asp-route-comment=@Model.Comment
              asp-route-transactionTimeUtc=@Model.TransactionTimeUtc>
                <div class="form-group mb-6 pl-5">
                    <label asp-for=@Model.Amount
                       class="block mb-2 text-sm font-medium text-base-content">
                        @Html.DisplayNameFor(x => x.Amount)
                    </label>
                    <div class="text-primary form-control input-bordered input-primary w-full max-w-xs">@Model.Amount</div>
                </div>
                <div class="form-group mb-6 pl-5">
                    <label asp-for=@Model.Comment
                       class="block mb-2 text-sm font-medium text-base-content">
                        @Html.DisplayNameFor(x => x.Comment)
                    </label>
                    <div class="text-primary form-control input-bordered input-primary w-full max-w-xs">@Model.Comment</div>
                </div>
                <div class="form-group mb-6 pl-5">
                    <input type="submit"
                       Value="Confirm"
                       class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>
<div>
    <a asp-controller="Account"
       asp-action="Summary"
       class="link hover:text-secondary">
        Cancel
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }